/*
	Sam Biegun / bieguns@umich.edu / Greendale Community College
*/

* {
	box-sizing: border-box;
}

body {
	font-size: 1em;
	line-height: 1.5;
	font-family: 'Roboto', sans-serif;
}

img {
	width: 100%;
	height: auto;
	display: block;
}

header {
	width: 100%;
	min-height: 116px;
	max-height: 175px;
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .5em 0;
	color: white;
	background-color: #184588;
	z-index: 1;
}

.logo-wrap {
	z-index: 1;
	/*background-color: #184588;*/
}

.logo {
	z-index: 1;
	display: flex;
	align-items: center;
}

.logo img {
	width: 20vw;
	max-width: 140px;
}

.apply {
	display: none;
}

@media screen and (min-width: 600px) {
	header {
		flex-direction: column;
		padding: 0;
		min-height: unset;
	}

	.apply {
		height: 3em;
		display: block;
		margin-right: 2em;
		padding: 0 2em;
		color: white;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 1px;
		background-color: #67B7E6;
		border: none;
		border-radius: 2px;
	}
	
	.apply:hover {
		background-color: #1F74A6;
	}

	.logo-wrap {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.2;
}

.meta-info div, h1 {
	font-size: 1.5rem;
	font-weight: 100;
	line-height: 1;
}

.meta-info div.hed, div.hed {
	font-size: 1rem;
	font-weight: 400;
}

h2 {
	font-size: 2.5em;
	font-weight: 100;
}

small {
	font-size: 85%;
}

p {
	margin-bottom: 1em; 
}

i.fas, i.fab {
	color: #DDDDDD;
} 

#content-wrapper {
	max-width: 900px;
	margin: 0 auto;
	padding-top: 4.2em;
}

#content {
	padding: 1em 8vw;
}

.banner {
	position: relative;
}

.banner h2 {
	position: absolute; 
	top: 40%; 

 	left: 0; 
 	right: 0; 
 	margin: 0 auto;
 	width: 80%;

 	font-size: clamp( 1.25em, 6vw, 4em );
 	text-align: center;
	color: white
	/*background-color: rgba(255 255 255 50);*/
}

.no-css {
	display: none;
}

.skip {
  left: 50%;
  position: absolute;
  transform: translateY(-100%);
}

.skip {
  background: #e77e23;
  height: 30px;
  left: 50%;
  padding: 8px;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;
}

.skip:focus {
  transform: translateY(0%);
}




/*Footer Rules*/

footer {
	background-color: #1F74A6;
	color: white;
}

.meta-info {
	padding-top: 1em;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.meta-info address ul {
	list-style-type: none;
}

.meta-info address i {
	width: 3ch;
	text-align: right;
}

.meta-info address span {
	width: 9ch;
	text-align: left;
	margin-left: 1ch;
}

.partners {
	margin-bottom: 1em;
}

.partners ul {
	display: flex;
	list-style: none;
	align-items: center;
}

.partners li {
	width: 25%;
	object-fit: scale-down;
	margin: 0 4.15%

}

.partners li img {
	max-height: 100px;
	object-fit: scale-down;
}

.legal {
	text-align: center;
}


/*Navigation Rules*/
.menu-toggle {
	height: 100%;
	margin-right: 1em;
	border: none;
	border-radius: 4px;
	background-color: #1F74A6;
}

i.fa-bars {
	/*height: 80%;
	width: 80%;*/
	font-size: 1.5em;
	color: #ffffff;
	/*box-shadow: 2px 4px #999999;*/
}

.menu-toggle {
	height: 2.5em;
	width: 2.5em;
}

.pages ul {
	z-index: 0;
	display: none;
	width:100%;

	position: absolute;
	left: 0;
	top: 116px;

	color: white;
	background-color: #1F74A6;
}

.pages li {
	padding-left: 1em;
}

.pages li:hover {
	background-color: #67B7E6;
}

.pages a {
	color: white;
	text-decoration: none;
	padding: .25em;
}

.menu-show {
	display: flex !important;
}

.social {
	padding: .25em;
	background-color: #184588;
}
.social ul {
	display: flex;
	justify-content: space-between;
	width: 50vw;
	margin: 0 auto;

}

@media screen and (min-width: 600px) {
	.menu-toggle {
		display: none;
	}

	.pages {
		width: 100%;
		background-color: #1F74A6;
	}

	.pages ul {
		width: 90%;
		max-width: 900px;
		top: 0;
		position: relative;
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
	}
	.pages li {
		padding: .25em .75em;
	}
}


